.bar{
    flex: 1;
    width: 100vw;
    height: 100vh;
}

.title{
    margin: 80px 0 10px 50px;
}

.barHr1{
    margin-top: 0px;
}

.barWrapper{
    padding: 0px;
    margin: 0% 0%;
}

.opponentList{
    padding: 10px;
    margin: 10px 50px 0 50px;
    list-style: none;
    align-items: center;
}

.barHr2{
    margin: 20px 0;
}