.gamebar{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 2%;
}

.gameTitle{
    margin: 0;
    width: 100%;
}

.gameMain{
    margin: 0;
}

.gameTitle, .gameMain{
    padding: 0;
    margin: 0;
}