
.detailContainer {
    /* 他のスタイル */
    justify-content: space-between;
    width: 90%;
    padding: 0; /* パディングを0に設定 */
  }
  
  .detailComponents {
    /* 他のスタイル */
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    margin: 0 5% 0 5%;
  }
  
  .detailComponents table {
    width: 100%;
    border-collapse: collapse; /* テーブルのセル間の境界線を重ねる */
}

  /* テーブル全体を画面幅いっぱいに広げる */
  .detailComponents table {
    width: 100%;
  }

/* 以下2段目 */
.detailComponentsBottom th, .detailComponentsBottom td {
    padding: 0 !important; /* パディングを0に設定 */
    margin: 0 !important; /* マージンを0に設定 */
}

.detailComponentsBottom {
    /* 他のスタイル */
    display: flex;
    justify-content: space-between;
}
  
.detailComponentsBottom td {
    border-left: 1px solid grey; /* 項目間に縦線を追加 */
    flex:1;
}

.serve2, .reason2, .score2 {
    /* 他のスタイル */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid black;
}

.serve2 {
    flex: 4;
}
  
.reason2 {
    flex: 5;
}
  
.score2 {
    flex: 3;
}
  
.first{
    border-left: none !important;
}

.searchInput{
    width: auto;
}